/* General Page Setup */
body, html {
    margin: 0;
    padding: 0;
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    background: black;
    overflow: hidden;
}

/* Background Styling */
.background-container {
    position: absolute;
    top: -10;
    left: -10;
    width: 150%;
    height: 150%;
    rotate: 10deg;
    z-index: 1;
    overflow: hidden;
}

.background-blur {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    filter: blur(10px) saturate(0.2);
    transition: opacity 0.5s ease-in-out;
    opacity: 1;
}

/* Carousel Wrapper */
.carousel-container {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.carousel {
    width: 100%; 
    height: 100%;
    position: relative; 
    overflow: hidden; 
    }

/* Foreground Image Wrapper */
.image-wrapper {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    z-index: 2;
}

/* Images inside the wrapper */
.image-wrapper img {
    border-radius: 10px;
    filter: drop-shadow(15px 15px 15px rgba(0, 0, 0, 0.6)); /* x-offset, y-offset, blur-radius, color */
    max-width: 95%;
    max-height: 95%;
    zoom: 150%;
    width: auto;
    height: auto;
    object-fit: contain;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
    z-index: 2;
}

/* Only the active image is visible */
.image-wrapper img.active {
    opacity: 1;
}

/* Navigation Buttons */
.prev-btn, .next-btn {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.6);
    color: #FFFFF5;
    padding: 10px 15px;
    border: none;
    cursor: pointer;
    font-size: 16px;
    z-index: 3;
    border-radius: 10px;
    font-family: 'Courier New', Courier, monospace;
    font-variant: small-caps;
}

.prev-btn {
    left: 10px;
}

.next-btn {
    right: 10px;
}

.pause-btn {
    position: absolute;
    bottom: 4%; 
    left: 3%;
    background-color: rgba(0, 0, 0, 0.6);
    color: #FFFFF5;
    padding: 6px 12px;
    border: none;
    cursor: pointer;
    font-size: 1vmax;
    z-index: 3;
    border-radius: 10px;
    font-family: 'Courier New', Courier, monospace;
    font-variant: small-caps;
}

.hide-buttons {
    opacity: 0;
    transition: opacity 0.3s ease-in-out; 
}

.show-title {
    opacity: 1;
    transition: opacity 0.3s ease-in-out; 
}

.hide-title {
    opacity: 0;
    transition: opacity 1s ease-in-out; 
}

.show-legal {
    opacity: 1;
    transition: opacity 0.3s ease-in-out; 
}

.hide-legal {
    opacity: 0;
    transition-delay: 19s;
    transition: opacity 1s ease-in-out; 
}

.title-box {
    position: absolute;
    bottom: 26%; /* Adjust position as needed */
    left: 50%;
    transform: translateX(-50%);
    background-color: rgba(0, 0, 0, 0.6); /* Semi-transparent black */
    color: #FFFFF5;
    padding: 10px 20px;
    border-radius: 10px; /* Optional: Rounded corners */
    z-index: 3; /* Ensure it's above the image */
    font-family: 'Courier New', Courier, monospace;
    font-weight: 450;
    font-variant: small-caps;
    letter-spacing: -1.4px;
    word-spacing: -10%;
    text-align: center;
}

.title {
    font-size: 5vmax; /* Adjust font size as needed */
}

.subtitle {
    font-size: 3vmax; /* Adjust font size as needed */
}

.legal {
    position: absolute;
    bottom: 4%; 
    right: 3%;
    background-color: rgba(0, 0, 0, 0.6); 
    color: #FFFFF5;
    padding: 6px 12px;
    border-radius: 6px; 
    z-index: 3; 
    font-family: 'Courier New', Courier, monospace;
    font-variant: small-caps;
    letter-spacing: -0.8px;
    word-spacing: -6%;
    text-align: center;
}

.copyright {
    font-size: 1vmax;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0);
    z-index: 4; 
}